body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  color: white;
}


section {
  max-width: 500px;
  margin: 60px auto;
  background: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 6px;
}


h1 {
  color: #04AA6D;
}


button {
  background:#08b374;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:4px;
}


.cards {
  display: flex;
  gap: 50px;
  
}


.cards li {
  list-style: none;
  flex: 1 1 200px;
  padding: 13px;
  border: 1px solid #000000;
  border-radius: 12px;
  height: 400px;
}


h2 {
    color: #035235;
}


.GamesImages {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0px;
    margin: 0;
    border: none;
    height: 175px;
    
}

.GamesImages li {
  list-style: none;
  flex: 1 1 200px;
  padding: none;
  width: 30%;
  
}


.GamesImages img {
  float: right;
  width: 89%;
  
  gap: 20px;
  
}
.small-img {
  width: 100px;
  height: 100px;
}
